<a href="https://colab.research.google.com/github/VanshikaSharma19/VanshikaSharma19/blob/main/DataToolKit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **NUMPY**

In [234]:
import numpy as np  #as is alias

In [235]:
np.__version__

'1.26.4'

In [236]:
print(np.__doc__)

NumPy
=====

Provides
  1. An array object of arbitrary homogeneous items
  2. Fast mathematical operations over arrays
  3. Linear Algebra, Fourier Transforms, Random Number Generation

How to use the documentation
----------------------------
Documentation is available in two forms: docstrings provided
with the code, and a loose standing reference guide, available from
`the NumPy homepage <https://numpy.org>`_.

We recommend exploring the docstrings using
`IPython <https://ipython.org>`_, an advanced Python shell with
TAB-completion and introspection capabilities.  See below for further
instructions.

The docstring examples assume that `numpy` has been imported as ``np``::

  >>> import numpy as np

Code snippets are indicated by three greater-than signs::

  >>> x = 42
  >>> x = x + 1

Use the built-in ``help`` function to view a function's docstring::

  >>> help(np.sort)
  ... # doctest: +SKIP

For some objects, ``np.info(obj)`` may provide additional help.  This is
particularly true if you see the line "Help on ufunc object:" at the top
of the help() page.  Ufuncs are implemented in C, not Python, for speed.
The native Python help() does not know how to view their help, but our
np.info() function does.

To search for documents containing a keyword, do::

  >>> np.lookfor('keyword')
  ... # doctest: +SKIP

General-purpose documents like a glossary and help on the basic concepts
of numpy are available under the ``doc`` sub-module::

  >>> from numpy import doc
  >>> help(doc)
  ... # doctest: +SKIP

Available subpackages
---------------------
lib
    Basic functions used by several sub-packages.
random
    Core Random Tools
linalg
    Core Linear Algebra Tools
fft
    Core FFT routines
polynomial
    Polynomial tools
testing
    NumPy testing tools
distutils
    Enhancements to distutils with support for
    Fortran compilers support and more  (for Python <= 3.11).

Utilities
---------
test
    Run numpy unittests
show_config
    Show numpy build configuration
matlib
    Make everything matrices.
__version__
    NumPy version string

Viewing documentation using IPython
-----------------------------------

Start IPython and import `numpy` usually under the alias ``np``: `import
numpy as np`.  Then, directly past or use the ``%cpaste`` magic to paste
examples into the shell.  To see which functions are available in `numpy`,
type ``np.<TAB>`` (where ``<TAB>`` refers to the TAB key), or use
``np.*cos*?<ENTER>`` (where ``<ENTER>`` refers to the ENTER key) to narrow
down the list.  To view the docstring for a function, use
``np.cos?<ENTER>`` (to view the docstring) and ``np.cos??<ENTER>`` (to view
the source code).

Copies vs. in-place operation
-----------------------------
Most of the functions in `numpy` return a copy of the array argument
(e.g., `np.sort`).  In-place versions of these functions are often
available as array methods, i.e. ``x = np.array([1,2,3]); x.sort()``.
Exceptions to this rule are documented.

In [121]:
list = [1,2,["pw skills"],3+5j,True,1.2]  #list stores hetrogenous data

In [122]:
type(list)

list

In [123]:
#Numpy stored the data in a numpy array
#An array is a container/data structure used to store data of same data type.>>Homogenous

In [124]:
#why numpy? already we have lists.
#C++ is the fastest programming language and then C comes in the picture.
#numpy is built using C >> Numpy computation is fast.
#due to array >> since it stores only homogenous data, Numpy array is faster
#since it stores homogenous data >> contiguous/continuous memory location.
#Mathamatical computation is fast

In [125]:
l=[1,2,3,4,5]  #numpy array is homogenous>> all elements can be integer, float,string

In [126]:
arr = np.array(l)   #numpy.ndarray>> n dimensional array
arr

array([1, 2, 3, 4, 5])

In [127]:
type(arr)

numpy.ndarray

In [128]:
l=[1,2,3,4,5,"mina"]

In [129]:
np.array(l)

array(['1', '2', '3', '4', '5', 'mina'], dtype='<U21')

In [130]:
#array stores homogenous data

In [131]:
l=[1,2,3,4,5,4.5]
np.array(l)

array([1. , 2. , 3. , 4. , 5. , 4.5])

In [132]:
arr.ndim   #dimension of array

1

In [133]:
arr1= np.array([[1,2,3,4],[5,6,7,8]])
arr1

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [134]:
arr1.ndim

2

In [135]:
matrix = np.matrix([1,2,3,4])  #matrix is a specialised array of 2 dimension

In [136]:
type(matrix)

numpy.matrix

In [137]:
matrix.ndim

2

In [138]:
matrix

matrix([[1, 2, 3, 4]])

In [139]:
#To understand the dimension, see the no of opening/closing square brackets
#[ ] = 1 dimension
#[[ ]] = 2 dimension
#[[[ ]]] = 3 dimension

In [140]:
#more ways to array
l = [1,2,3,4,5,6]
np.asarray(l)      #initial function asarray to convert to an array, np.array came after this

array([1, 2, 3, 4, 5, 6])

In [141]:
np.asanyarray([1,2,3])

array([1, 2, 3])

In [142]:
#asanyarray will convert the input to an ndarray, but pass ndarray subclass through
#if somthing is already an array or part of array, it will simply allow to pass through it

In [143]:
t = ([1,2,3,],[4,5,6])
type(t)

tuple

In [144]:
np.array(t)

array([[1, 2, 3],
       [4, 5, 6]])

In [145]:
arr

array([1, 2, 3, 4, 5])

In [146]:
#accessing elements of array

In [147]:
arr[0]

1

In [148]:
#array is mutable
arr[0]=10

In [149]:
arr

array([10,  2,  3,  4,  5])

In [150]:
#shallow copy >> change in one array will lead to change in another
a =arr #a and arr will point to same memory location, so if there is change in a or arr,it will reflect on both

In [151]:
a

array([10,  2,  3,  4,  5])

In [152]:
arr

array([10,  2,  3,  4,  5])

In [153]:
a[1]=20

In [154]:
a

array([10, 20,  3,  4,  5])

In [155]:
arr

array([10, 20,  3,  4,  5])

In [156]:
#deep copy >> change in one array will not effect the other
b= arr.copy()

In [157]:
b

array([10, 20,  3,  4,  5])

In [158]:
arr

array([10, 20,  3,  4,  5])

In [159]:
b[2] = 30

In [160]:
b

array([10, 20, 30,  4,  5])

In [161]:
arr

array([10, 20,  3,  4,  5])

In [162]:
#To creat an array >> np.array, np.asarray,np.asanyarray

In [163]:
#Multiple approaches to generate any array

In [164]:
np.fromfunction(lambda i,j:i==j,(3,3)) #construct an array by executing a function over each coordinate

array([[ True, False, False],
       [False,  True, False],
       [False, False,  True]])

In [165]:
arr1=np.fromfunction(lambda i,j:i==j,(3,3))
arr1

array([[ True, False, False],
       [False,  True, False],
       [False, False,  True]])

In [166]:
arr1.ndim

2

In [167]:
arr1.shape #shape of array

(3, 3)

In [168]:
arr1.size #no of element in array

9

In [169]:
#true is storedas 1 and false as 0 in python
True+False

1

In [170]:
np.fromfunction(lambda i,j:i*j,(3,3))

array([[0., 0., 0.],
       [0., 1., 2.],
       [0., 2., 4.]])

In [171]:
for i in range(5):
  print(i)

0
1
2
3
4

In [172]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [173]:
(i for i in range(i))

In [174]:
iterator = (i for i in range(5))
iterator

In [175]:
np.fromiter(iterator, int) #create a new 1 dimenstion array from an iterable object.

array([0, 1, 2, 3, 4])

In [176]:
np.fromstring("1 2 3 4 5 6",sep=" ")

array([1., 2., 3., 4., 5., 6.])

In [177]:
np.fromstring("1 2 3 4 5 6",sep=" ",dtype=int) #by default it is float>> values inside string should be numerical

array([1, 2, 3, 4, 5, 6])

In [178]:
#for string character you have to use split
string = "Tina,Monica,Rachal"
string.split(",")

['Tina', 'Monica', 'Rachal']

In [179]:
np.array(string.split(","))

array(['Tina', 'Monica', 'Rachal'], dtype='<U6')

In [180]:
range(1,10)

range(1, 10)

In [181]:
#other method of numpy >> To genrate a sequence of number
np.arange(1,10) #arange returns evenly spacified values within a given interval

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [182]:
np.arange(1,10,0.1)

array([1. , 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2. , 2.1, 2.2,
       2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9, 3. , 3.1, 3.2, 3.3, 3.4, 3.5,
       3.6, 3.7, 3.8, 3.9, 4. , 4.1, 4.2, 4.3, 4.4, 4.5, 4.6, 4.7, 4.8,
       4.9, 5. , 5.1, 5.2, 5.3, 5.4, 5.5, 5.6, 5.7, 5.8, 5.9, 6. , 6.1,
       6.2, 6.3, 6.4, 6.5, 6.6, 6.7, 6.8, 6.9, 7. , 7.1, 7.2, 7.3, 7.4,
       7.5, 7.6, 7.7, 7.8, 7.9, 8. , 8.1, 8.2, 8.3, 8.4, 8.5, 8.6, 8.7,
       8.8, 8.9, 9. , 9.1, 9.2, 9.3, 9.4, 9.5, 9.6, 9.7, 9.8, 9.9])

In [183]:
np.linspace(1,5,10)  #give me 10 numbers between 1 and 5

array([1.        , 1.44444444, 1.88888889, 2.33333333, 2.77777778,
       3.22222222, 3.66666667, 4.11111111, 4.55555556, 5.        ])

# **NUMPY ADVANCE 1**

In [184]:
import numpy as np
a = np.zeros(5)  #Return a new array of given shape and type, filled with zeros

In [185]:
a.ndim

1

In [186]:
a

array([0., 0., 0., 0., 0.])

In [187]:
np.zeros(5,dtype=int)

array([0, 0, 0, 0, 0])

In [188]:
b=np.zeros((3,4))

In [189]:
b.ndim

2

In [190]:
a = np.zeros((2,3))
a

array([[0., 0., 0.],
       [0., 0., 0.]])

In [191]:
np.ones(5,dtype=int)  #return a new array of given shape and type,filled with ones

array([1, 1, 1, 1, 1])

In [192]:
np.ones((3,5))

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [193]:
np.twos(5) #throw error>>> doesn't exist in numpy

AttributeError: module 'numpy' has no attribute 'twos'

In [ ]:
np.array([[2,2,2],[2,2,2]])

In [ ]:
arr=np.zeros((3,4))

In [ ]:
arr

In [ ]:
arr.ndim

In [ ]:
#3 dimension array
arr=np.zeros((1,3,4))
arr

In [ ]:
arr.ndim

In [ ]:
#4 dimension
b = np.zeros((1,3,3,3))

In [ ]:
b.ndim

In [ ]:
c= np.zeros((1,1,1,3,3))
c

In [ ]:
c.ndim

In [ ]:
arr

In [ ]:
arr+5

In [ ]:
a= arr +5

In [ ]:
a*2

In [ ]:
a-1

In [ ]:
np.eye(3) #Return a 2-D array with ones on the diagonal and zeros elsewhere.
#3*3--> All diagonal elements -> 1 and rest 0 >> also called as identity matrix
#a diagonal matrix with all its diagonal elements equal to 1 , and zeroes everywhere else.

In [ ]:
np.empty((3,4))  #Return a new array of given shape and type, without initializing entries.
#it means entries inthe array can be anything random values

In [ ]:
#optional>> Random Module
import random
random.choice([1,2,3,4,5,6,7,8,9,10])

In [ ]:
random.choice("Vanshika")

In [ ]:
random.randrange(1,10)

In [ ]:
random.random() #A random no generated between 0(included) and 1(included)

In [ ]:
lis=[1,2,3,4,5,6,7,8,9,10]
random.shuffle(lis)

In [ ]:
lis

In [ ]:
random.uniform(7,14)

In [ ]:
#random number related concept in numpy
np.array([])

In [ ]:
np.random.random_sample(())

In [ ]:
np.random.random_sample((5, ))  #1 dim array of 5 random nos

In [ ]:
np.random.rand(1)

In [ ]:
np.random.rand(2,3)

In [ ]:
np.random.randn(2,3)   #Retun a sample (or samples) from the "standard normal" distribution.

In [ ]:
np.random.randint(1, 5, size = (3,4))  #start from 1 and ends with 5-1 and give array of shape 3,4

In [ ]:
arr = np.random.randint(1, 5, size = (3,4))
arr.ndim

In [ ]:
arr.shape

In [ ]:
arr.size

In [ ]:
arr

In [ ]:
#Reshaping the array
arr.reshape(2,6)  #Returns an array containing the same data with a new shape.

In [ ]:
#array size will never change, always reshape parameter should be multiplication of original array size

In [ ]:
arr.reshape(4,2) #it will throw an error

In [ ]:
arr.reshape(1,12)

In [ ]:
#case when you dont know in reshape what should be row and column count
#use -1 or any negative value for rows or columns
arr.reshape(4,-1)

In [ ]:
arr.reshape(4,-100)

In [ ]:
arr.reshape(-100,3)

In [ ]:
arr.reshape(12,1).base #to see the original array

In [ ]:
arr.reshape(2,2,3) #remember >> multiplication should be equals to arr size

In [ ]:
arr.reshape(2,2,3).ndim

In [ ]:
arr.reshape(4,3,1)  #3 rows 1 column repeated 4 times in the 3rd dimenation

In [ ]:
#conditions on array
arr1 = np.random.randint(1,10,(5,6))
arr1

In [ ]:
arr1.shape

In [ ]:
arr1.size

In [ ]:
arr1.ndim

In [ ]:
arr1 > 3

In [ ]:
arr1[arr1>3]  #select all the elements of arr1 where the condition is true

In [ ]:
arr1[arr1<3]

In [ ]:
#to access the elements in array
arr1[0]

In [ ]:
arr1[1]

In [ ]:
arr1[-1]

In [ ]:
arr1[1][-2]

In [ ]:
arr1

In [ ]:
arr1[-2][1]

In [ ]:
arr1[0:3] #from 0 th row to 2nd row

In [ ]:
arr1[0:3, [0,2]] #0 to 2nd row and 0 to 2nd column

In [ ]:
#slicing on both rows and columns together
arr1

In [ ]:
arr1[0:3, 1:3]

In [ ]:
arr1[0:3,[0,1]]

In [ ]:
arr1[0]

In [ ]:
arr1[0,[1,3]]

In [ ]:
arr1[2:4,[0,3]]

In [ ]:
arr1[2:5]

In [ ]:
arr1

In [ ]:
arr1[0:5,[1,-1]]

In [ ]:
arr1[0:2,[1,-1]]

In [ ]:
arr1[0:5, 0:6]

In [ ]:
arr1[2:5, 1:6]

In [ ]:
#mathematical operations on two arrays
arr1 = np.random.randint(1,3,(3,3))
arr2 = np.random.randint(1,3,(3,3))

In [ ]:
arr1

In [ ]:
arr2

In [ ]:
arr1+arr2 #index wise element addition

In [ ]:
arr1-arr2

In [ ]:
arr1*arr2 #index wise multiplication

In [ ]:
arr3 = arr1+arr2
arr3

In [ ]:
arr3*arr1

In [ ]:
arr3/arr2  #index wise division

In [ ]:
arr3**arr1

In [ ]:
#matrix multiplication >> matrix is a specialied 2d array
#matrix multiplication is different from index wise multiplication

In [ ]:
arr1 @ arr2

In [ ]:
np.dot(arr1,arr2) #another way of matrix multiplication

In [ ]:
arr2

In [ ]:
arr3= np.random.randint(1,3,(3,4))
arr4 = np.random.randint(1,3,(4,2))

In [ ]:
arr3@arr4

In [ ]:
arr3= np.random.randint(1,3,(3,4))
arr4 = np.random.randint(1,3,(2,3))

In [ ]:
arr3@arr4

In [ ]:
#broadcasting

In [ ]:
arr = np.zeros((3,4))
arr

In [ ]:
arr + 5

In [ ]:
''' working of broadcasting >> at the back end this is how actually addtion take place
[[0  0  0  0]
 [0  0  0  0]
 [0  0  0  0]]
 + 5
 [[5  5  5  5]
  [0  0  0  0]
  [0  0  0  0]

 [[0  0  0  0]
  [5  5  5  5]
  [0  0  0  0]]

 [[0  0  0  0]
  [0  0  0  0]
  [5  5  5  5]]
  =
  [[5  5  5  5]
   [5  5  5  5]
   [5  5  5  5]]
  '''

In [ ]:
a = np.array([1,2,3,4])

In [ ]:
arr

In [ ]:
arr + a

In [ ]:
#transpose > converting rows to coumns and columns to rows

In [ ]:
a = np.array([[1,2,3,4]])
a   # 1 row and 4 columns

In [ ]:
a.T #it will covert it into 4 rows and 1 colums

In [ ]:
arr1 #3x3

In [ ]:
arr1.T #3x3 >> values of colums are now in rows

# **NUMPY ADVANCE 2**

In [ ]:
import numpy as np

In [ ]:
arr1 = np.random.randint(1,3,(3,3))
arr2 = np.random.randint(1,3,(3,3))

In [ ]:
arr1

In [ ]:
arr2

In [ ]:
arr1.flatten()  #return a copy of the array collapsed into one dimension

In [ ]:
#expand dimension
arr = np.array([1,2,3,4])
arr

In [ ]:
arr.ndim

In [ ]:
np.expand_dims(arr,axis=1) #add a new axis >> Expand the shape of an array
#increases the dimension by 1 in the provided axis, 0 means rows(x axis), 1 means column wise(y axis)

In [ ]:
np.expand_dims(arr,axis=0)

In [ ]:
arr = np.zeros((3,4))  #2 dimension
arr

In [ ]:
np.expand_dims(arr,axis=0) #after expand now its 3 dimension

In [ ]:
np.expand_dims(arr,axis=0).ndim

In [ ]:
a = np.array([[1],[2],[3]])

In [ ]:
a

In [ ]:
a.ndim

In [ ]:
#squeezing the dimension by 1 dimension
np.squeeze(a) #remove axes of length one from 'a'

In [ ]:
a

In [ ]:
#repeat
np.repeat(a,4)

In [ ]:
arr1

In [ ]:
np.repeat(arr1,2)

In [ ]:
np.repeat(arr1,3, axis = 0)

In [ ]:
np.repeat(arr1,3, axis = 1)

In [ ]:
#shift the values
np.roll(a,-1)  #shifting the first value to the last

In [ ]:
np.roll(a,-2)  #shift place

In [ ]:
c = np.array([[1,2,3],[4,5,6],[7,8,9]])
c

In [ ]:
np.roll(c,-1)

In [ ]:
np.roll(c,1)

In [ ]:
np.roll(c,2,axis=0)

In [ ]:
arr1

In [ ]:
arr2

In [ ]:
arr1+arr2

In [ ]:
arr1*arr2

In [ ]:
arr1>arr2

In [ ]:
#bitwise negvation
~arr1

In [ ]:
#operation on numpy string array

d = np.array(["Tina","Monica","Rachal"])
d

In [ ]:
np.char.upper(d)

In [ ]:
np.char.capitalize(d)

In [ ]:
#mathematical functions
arr1

In [ ]:
np.sin(arr1)

In [ ]:
np.cos(arr1)

In [ ]:
np.tan(arr1)

In [ ]:
np.log10(arr1)

In [ ]:
np.exp(arr1)

In [ ]:
np.power(arr1,2)

In [ ]:
np.max(arr1)

In [ ]:
np.mean(arr1)

In [ ]:
np.min(arr1)

In [ ]:
np.std(arr1)

In [ ]:
np.var(arr1)

In [ ]:
np.subtract(arr1,arr2)

In [ ]:
np.mod(arr1,arr2) #return element wise remainder

In [ ]:
np.sqrt(arr1)

In [ ]:
#sorting and searching in numpy array
e = np.array([5,6,7,1,2])
e

In [ ]:
np.sort(e) #return a sorted copy of an array

In [ ]:
np.searchsorted(e,10) #Find indices where elements should be inserted to maintain order

In [ ]:
f = np.array([5,100,50,34,200,150,7,8])

In [ ]:
np.sort(f)

In [ ]:
np.searchsorted(f, 90) #Find indices where elements should be inserted to maintain order

In [ ]:
f = np.array([5,199,200,564,131,7,8,0,0,0,0,0,0,0])

In [ ]:
np.count_nonzero(f)

In [ ]:
f>0

In [ ]:
f[f>0]

In [ ]:
np.where(f>0) #same as above condition

In [ ]:
np.extract(f>0,f) #same as above condition

In [ ]:
f

In [ ]:
f.byteswap() #swap the bytes of the array elements

In [ ]:
import numpy.matlib as nm

In [ ]:
nm.zeros(5)

In [ ]:
nm.ones((3,4))

In [ ]:
#numpy linear algebra (optional)

In [ ]:
arr1

In [ ]:
arr2

In [ ]:
arr1@arr2

In [ ]:
np.linalg.det(arr1)

In [ ]:
np.linalg.inv(arr1) #in matrix you can not devide by another matrix , you have inverse

In [ ]:
'''
in algebra equation where somthing like this
7x + 5.3y - 3z = 2
2x + 3y -2z = 3
3x +5y - 3z = 2

so here we will write it somthing like this
[7  5.3  -3]   [2]
[2  3  -2]     [3]
[3  5  -3]     [2]
'''
a = np.array([[7, 5.3, -3], [2, 3, -2], [3, 5, -3]])
a

In [ ]:
b = np.array([2, 3, 2])
b

In [ ]:
np.linalg.solve(a,b)

# **PANDAS BASICS**

In [ ]:
#Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,bulit on top of the python programming language.


#2008 by Mckinney
#very useful with structured data(tabular data)

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("services.csv") #Read a comma-seprated values(csv) file into DataFrame.

In [ ]:
df

In [ ]:
#by default pandas understands the first rows as the column name
pd.read_csv("services.csv", header = None)  #internal integers indexes are provided by pandas for both rows and columns

In [ ]:
 pd.read_csv("services.csv", skiprows = 2) #skips first 2 rows

In [ ]:
pd.read_csv("services.csv", usecols=['program_id', "application_process"])

In [ ]:
pd.read_csv("services.csv")

In [ ]:
#Data Structure is a container or place where we store data like strings, tuples, and integers.
#For Pandas > Data Structure >> stores data in form of series and dataframe.
#Series >> 1 Dimensional in nature
#DataFrame >> 2 dimensional in nature --> Multiple Series combines to form a Dataframe(consiste of Rows and Columns)

In [ ]:
type(df)

In [ ]:
#way to access the Data from a dataframe
df.application_process

In [ ]:
df.service_areas

In [ ]:
#Another way of accessing the Data from Dataframe
df['service_areas']

In [ ]:
type(df['service_areas'])  # A Column is a series in a dataframe >> Thats is why it is 1 dimensional

In [ ]:
l = [1,2,3,4,5,6]
s = pd.Series(l)
s

In [ ]:
s[0]

In [ ]:
s[4]

In [ ]:
s[1:4]

In [ ]:
s[1:]

In [ ]:
s[0:6:2]  #[start:stop:steps]

In [ ]:
#by default indexes are integer, we can have custom indexes
d = pd.Series([100,200,300], index = ["Enaa", "Mina", "Dika"])

In [ ]:
d

In [ ]:
type(d)

In [ ]:
d["Mina"]

In [ ]:
d["Enaa"]

In [ ]:
d["Dika"]

In [ ]:
#To see all the index of the series
d.index

In [ ]:
#to reset index
d.reset_index(drop=True)

In [ ]:
d

In [ ]:
#convert the a series into DataFrame
pd.DataFrame(d)

In [ ]:
#first 5 rows of data
df.head(5)

In [ ]:
#See Last 5 rows
df.tail(5)

In [ ]:
df.shape  #To see how many rows and columns (Rows,Columns)

In [ ]:
df.columns  #To see how many columns are there

In [ ]:
#Convert the above data into a list
list(df.columns)

In [ ]:
#Any random row
df.sample()  #It will give any one random row

In [ ]:
df.sample(5) #It will give 5 random rows

In [ ]:
df.sample(2) #it will give any 2 random row

In [ ]:
df.info()   #technically object in pandas means strings

In [ ]:
df.dtypes

In [ ]:
df['id']

In [ ]:
df['application_process']

In [ ]:
type(df['application_process'])

In [ ]:
list(df['application_process'])

In [ ]:
#Series to a dataframe
s = pd.Series([2,3,4,5], index = ['a','b','c','d'])
s

In [ ]:
d = pd.DataFrame(s)

In [ ]:
type(d)

In [ ]:
d["New_Column"] = "Sharma"

In [ ]:
d

In [ ]:
d.New_Column  # Column name has to to be in continues way only it will be accessed this way

In [ ]:
#if column name is not countinues then the other to access it is 'd["new column"]
d["New Column"] = "Sharmaa"
d

In [ ]:
d.New Column # it will throw error

In [ ]:
d["New Column"]  #best way to access the column this way but if its a continuous string, you can access using df.column_name

In [ ]:
d["New_Column2"] = [10,20,30,40]

In [ ]:
d  #no of new column element should be equals to no of rows

In [ ]:
#Change the column name
d.columns = ["Column1", "Column2", "Column3", "Column4"]
d

In [ ]:
#reset index
d.reset_index()  #if you dont use 'drop = True' then the orignal index will become column with the name index

In [ ]:
d.reset_index(drop = True)

In [ ]:
#accessing one column --Series, multiple columns(with square brackets becomes a dataframe)
#accessing more than one column
#a subset of dataframe
D_Subset = d[["Column1", "Column2"]]
D_Subset

In [ ]:
df1 = pd.read_excel("LUSID Excel - Setting up your market data.xlsx")
df1

In [ ]:
df1.shape

In [ ]:
df1.columns

In [ ]:
df1.info()

In [ ]:
df1.dtypes

In [ ]:
#Read a data from a github or some online resourse
df3 = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
df3

In [ ]:
df3.info()

In [ ]:
df3.columns

In [ ]:
df3.shape

In [ ]:
df3.dtypes #dtype >> Data type

In [ ]:
df3.Sex

In [ ]:
df3[["Name","Sex","Age"]]

In [ ]:
!pip install lxml

In [ ]:
#reading HTML page
url_df = pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html")
url_df

In [ ]:
type(url_df)

In [ ]:
df4 = url_df[0] #now it will become a dataframe
#so data in url_df > each index store group of data and when we call it with indexing it is shown inthe form of dataframe

In [ ]:
df4

In [ ]:
df4.info()

In [ ]:
df4.dtypes

In [ ]:
df4.to_csv("players.csv", index=False)      #store this data into csv file
#to not to get the indexes of df, pass index=False

In [ ]:
df4.to_csv("players1.csv")   #it will have a seprate column for indxing

In [ ]:
#read a json file from url  >>> json -- {{}}
url = "https://api.github.com/repos/pandas-dev/pandas/issues"
df5 = pd.read_json(url)
df5

In [ ]:
import requests   #request Library

In [ ]:

data = requests.get(url)

In [ ]:
data

In [ ]:
data.json()

# **PANDAS ADVANCE**

In [238]:
#Solving The Dataset
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [239]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [240]:
df.head()  #head will show first 5 Rows

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [241]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [242]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [243]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [244]:
df.describe() #Statistical information about numerical column

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [245]:
#5 point summary >> min, 25%, 50%, 75% and max

In [246]:
df[["PassengerId","Survived","Pclass","Age","Fare"]]

     PassengerId  Survived  Pclass   Age     Fare
0              1         0       3  22.0   7.2500
1              2         1       1  38.0  71.2833
2              3         1       3  26.0   7.9250
3              4         1       1  35.0  53.1000
4              5         0       3  35.0   8.0500
..           ...       ...     ...   ...      ...
886          887         0       2  27.0  13.0000
887          888         1       1  19.0  30.0000
888          889         0       3   NaN  23.4500
889          890         1       1  26.0  30.0000
890          891         0       3  32.0   7.7500

[891 rows x 5 columns]

In [247]:
df.dtypes == "object" #object is a string datatype

PassengerId    False
Survived       False
Pclass         False
Name            True
Sex             True
Age            False
SibSp          False
Parch          False
Ticket          True
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [248]:
df.dtypes[df.dtypes == "object"] #returns those series value where condition is true

Name        object
Sex         object
Ticket      object
Cabin       object
Embarked    object
dtype: object

In [249]:
#to get the index
df.dtypes[df.dtypes == "object"].index

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [250]:
#the string data
df[df.dtypes[df.dtypes == "object"].index]

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S
887,"Graham, Miss. Margaret Edith",female,112053,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S
889,"Behr, Mr. Karl Howell",male,111369,C148,C
890,"Dooley, Mr. Patrick",male,370376,NaN,Q

In [251]:
#numerical data
df[df.dtypes[df.dtypes != "object"].index]  #'!=' means not equal to

     PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0              1         0       3  22.0      1      0   7.2500
1              2         1       1  38.0      1      0  71.2833
2              3         1       3  26.0      0      0   7.9250
3              4         1       1  35.0      1      0  53.1000
4              5         0       3  35.0      0      0   8.0500
..           ...       ...     ...   ...    ...    ...      ...
886          887         0       2  27.0      0      0  13.0000
887          888         1       1  19.0      0      0  30.0000
888          889         0       3   NaN      1      2  23.4500
889          890         1       1  26.0      0      0  30.0000
890          891         0       3  32.0      0      0   7.7500

[891 rows x 7 columns]

In [252]:
#Statistical data
df[df.dtypes[df.dtypes != "object"].index].describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [253]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [254]:
df.describe(include = "object")

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [255]:
df.describe(include = "all")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Braund, Mr. Owen Harris",male,NaN,NaN,NaN,347082,NaN,B96 B98,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [256]:
df.astype('object').describe() #give the statistical information considering categorical column

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891,891,891,891,891,714.0,891,891,891,891.00,204,889
unique,891,2,3,891,2,88.0,7,7,681,248.00,147,3
top,1,0,3,"Braund, Mr. Owen Harris",male,24.0,0,0,347082,8.05,B96 B98,S
freq,1,549,491,1,577,30.0,608,678,7,43.00,4,644

In [257]:
df[0:100]  #slicing of dataframe

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.0,0,1,PC 17759,63.3583,D10 D12,C
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.0,0,1,231919,23.0000,NaN,S
99,100,0,2,"Kantor, Mr. Sinai",male,34.0,1,0,244367,26.0000,NaN,S

In [258]:
df[0:100:5]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
50,51,0,3,"Panula, Master. Juha Niilo",male,7.0,4,1,3101295,39.6875,NaN,S
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.0,0,0,2669,7.2292,NaN,C
65,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.0,0,0,C.A. 33111,10.5000,NaN,S
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
80,81,0,3,"Waelens, Mr. Achille",male,22.0,0,0,345767,9.0000,NaN,S
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.0,3,0,3101278,15.8500,NaN,S
90,91,0,3,"Christmann, Mr. Emil",male,29.0,0,0,343276,8.0500,NaN,S
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S

In [259]:
df["new_col"] = "PW_Skills"

In [260]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,PW_Skills
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,PW_Skills
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,PW_Skills
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,PW_Skills
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,PW_Skills
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,PW_Skills
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,PW_Skills
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,PW_Skills
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,PW_Skills
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,PW_Skills

In [261]:
df["Family"] = df['SibSp'] + df['Parch']

In [262]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,Family
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,PW_Skills,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,PW_Skills,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,PW_Skills,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,PW_Skills,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,PW_Skills,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,PW_Skills,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,PW_Skills,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,PW_Skills,3
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,PW_Skills,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,PW_Skills,0

In [263]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
 12  new_col      891 non-null    object
 13  Family       891 non-null    int64
dtypes: float64(2), int64(6), object(6)
memory usage: 97.6+ KB

In [264]:
pd.Categorical(df["Pclass"])   #different categories of pclass

[3, 1, 3, 1, 3, ..., 2, 1, 3, 1, 3]
Length: 891
Categories (3, int64): [1, 2, 3]

In [265]:
pd.Categorical(df["Cabin"])

[NaN, 'C85', NaN, 'C123', NaN, ..., NaN, 'B42', NaN, 'C148', NaN]
Length: 891
Categories (147, object): ['A10', 'A14', 'A16', 'A19', ..., 'F38', 'F4', 'G6', 'T']

In [266]:
#check the uniques value
df['Cabin'].unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [267]:
df['Pclass'].unique()

array([3, 1, 2])

In [268]:
df['Sex'].unique()

array(['male', 'female'], dtype=object)

In [269]:
df['Cabin'].nunique()

147

In [270]:
df["Sex"].value_counts()  # how many times a value in the column has occured

Sex
male      577
female    314
Name: count, dtype: int64

In [271]:
df["Cabin"].value_counts()

Cabin
B96 B98        4
G6             4
C23 C25 C27    4
C22 C26        3
F33            3
              ..
E34            1
C7             1
C54            1
E36            1
C148           1
Name: count, Length: 147, dtype: int64

In [272]:
#percentage
df['Sex'].value_counts(normalize=True)

Sex
male      0.647587
female    0.352413
Name: proportion, dtype: float64

In [273]:
df['Sex'].value_counts(normalize=True)*100

Sex
male      64.758698
female    35.241302
Name: proportion, dtype: float64

ME trying to solve a question

In [274]:
#Q how many passengers are less than 5 years
age = df["Age"]
for i in age.index:
    if i <= 5:
        print(i, age[i])
    else:
      pass

0 22.0
1 38.0
2 26.0
3 35.0
4 35.0
5 nan

In [275]:
df["Age"].nunique(5)

88

In [276]:
df['Age'].value_counts()

Age
24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: count, Length: 88, dtype: int64

In [277]:
df["Age"]<=5

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Age, Length: 891, dtype: bool

Actuall Answer is

In [278]:
df["Age"] # First access AGE column

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [279]:
df[df['Age'] <5]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,Family
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S,PW_Skills,4
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S,PW_Skills,2
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q,PW_Skills,5
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C,PW_Skills,3
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S,PW_Skills,5
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S,PW_Skills,2
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.00,4,2,347082,31.2750,NaN,S,PW_Skills,6
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S,PW_Skills,5
171,172,0,3,"Rice, Master. Arthur",male,4.00,4,1,382652,29.1250,NaN,Q,PW_Skills,5
172,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S,PW_Skills,2
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S,PW_Skills,3
184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.00,0,2,315153,22.0250,NaN,S,PW_Skills,2
193,194,1,2,"Navratil, Master. Michel M",male,3.00,1,1,230080,26.0000,F2,S,PW_Skills,2
205,206,0,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G6,S,PW_Skills,1
261,262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3.00,4,2,347077,31.3875,NaN,S,PW_Skills,6
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,PW_Skills,3
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,PW_Skills,3
340,341,1,2,"Navratil, Master. Edmond Roger",male,2.00,1,1,230080,26.0000,F2,S,PW_Skills,2
348,349,1,3,"Coutts, Master. William Loch ""William""",male,3.00,1,1,C.A. 37671,15.9000,NaN,S,PW_Skills,2
374,375,0,3,"Palsson, Miss. Stina Viola",female,3.00,3,1,349909,21.0750,NaN,S,PW_Skills,4
381,382,1,3,"Nakid, Miss. Maria (""Mary"")",female,1.00,0,2,2653,15.7417,NaN,C,PW_Skills,2
386,387,0,3,"Goodwin, Master. Sidney Leonard",male,1.00,5,2,CA 2144,46.9000,NaN,S,PW_Skills,7
407,408,1,2,"Richards, Master. William Rowe",male,3.00,1,1,29106,18.7500,NaN,S,PW_Skills,2
445,446,1,1,"Dodge, Master. Washington",male,4.00,0,2,33638,81.8583,A34,S,PW_Skills,2
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C,PW_Skills,3
479,480,1,3,"Hirvonen, Miss. Hildur E",female,2.00,0,1,3101298,12.2875,NaN,S,PW_Skills,1
530,531,1,2,"Quick, Miss. Phyllis May",female,2.00,1,1,26360,26.0000,NaN,S,PW_Skills,2
618,619,1,2,"Becker, Miss. Marion Louise",female,4.00,2,1,230136,39.0000,F4,S,PW_Skills,3
642,643,0,3,"Skoog, Miss. Margit Elizabeth",female,2.00,3,2,347088,27.9000,NaN,S,PW_Skills,5
644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C,PW_Skills,3
691,692,1,3,"Karun, Miss. Manca",female,4.00,0,1,349256,13.4167,NaN,C,PW_Skills,1
750,751,1,2,"Wells, Miss. Joan",female,4.00,1,1,29103,23.0000,NaN,S,PW_Skills,2
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S,PW_Skills,2
788,789,1,3,"Dean, Master. Bertram Vere",male,1.00,1,2,C.A. 2315,20.5750,NaN,S,PW_Skills,3
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C,PW_Skills,1
824,825,0,3,"Panula, Master. Urho Abraham",male,2.00,4,1,3101295,39.6875,NaN,S,PW_Skills,5
827,828,1,2,"Mallet, Master. Andre",male,1.00,0,2,S.C./PARIS 2079,37.0042,NaN,C,PW_Skills,2
831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S,PW_Skills,2
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.00,4,2,347082,31.2750,NaN,S,PW_Skills,6
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.00,1,1,347742,11.1333,NaN,S,PW_Skills,2

In [280]:
df[df['Age'] <5].shape  #it means 40 persons are below age of 5

(40, 14)

In [281]:
#another way to see
len(df[df['Age']<5])

40

In [282]:
#Q Name of children less then 5 years old

In [283]:
df[df['Age'] <5]   #children less than 5 years

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,Family
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S,PW_Skills,4
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S,PW_Skills,2
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q,PW_Skills,5
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C,PW_Skills,3
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S,PW_Skills,5
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S,PW_Skills,2
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.00,4,2,347082,31.2750,NaN,S,PW_Skills,6
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S,PW_Skills,5
171,172,0,3,"Rice, Master. Arthur",male,4.00,4,1,382652,29.1250,NaN,Q,PW_Skills,5
172,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S,PW_Skills,2
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S,PW_Skills,3
184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.00,0,2,315153,22.0250,NaN,S,PW_Skills,2
193,194,1,2,"Navratil, Master. Michel M",male,3.00,1,1,230080,26.0000,F2,S,PW_Skills,2
205,206,0,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G6,S,PW_Skills,1
261,262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3.00,4,2,347077,31.3875,NaN,S,PW_Skills,6
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,PW_Skills,3
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,PW_Skills,3
340,341,1,2,"Navratil, Master. Edmond Roger",male,2.00,1,1,230080,26.0000,F2,S,PW_Skills,2
348,349,1,3,"Coutts, Master. William Loch ""William""",male,3.00,1,1,C.A. 37671,15.9000,NaN,S,PW_Skills,2
374,375,0,3,"Palsson, Miss. Stina Viola",female,3.00,3,1,349909,21.0750,NaN,S,PW_Skills,4
381,382,1,3,"Nakid, Miss. Maria (""Mary"")",female,1.00,0,2,2653,15.7417,NaN,C,PW_Skills,2
386,387,0,3,"Goodwin, Master. Sidney Leonard",male,1.00,5,2,CA 2144,46.9000,NaN,S,PW_Skills,7
407,408,1,2,"Richards, Master. William Rowe",male,3.00,1,1,29106,18.7500,NaN,S,PW_Skills,2
445,446,1,1,"Dodge, Master. Washington",male,4.00,0,2,33638,81.8583,A34,S,PW_Skills,2
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C,PW_Skills,3
479,480,1,3,"Hirvonen, Miss. Hildur E",female,2.00,0,1,3101298,12.2875,NaN,S,PW_Skills,1
530,531,1,2,"Quick, Miss. Phyllis May",female,2.00,1,1,26360,26.0000,NaN,S,PW_Skills,2
618,619,1,2,"Becker, Miss. Marion Louise",female,4.00,2,1,230136,39.0000,F4,S,PW_Skills,3
642,643,0,3,"Skoog, Miss. Margit Elizabeth",female,2.00,3,2,347088,27.9000,NaN,S,PW_Skills,5
644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C,PW_Skills,3
691,692,1,3,"Karun, Miss. Manca",female,4.00,0,1,349256,13.4167,NaN,C,PW_Skills,1
750,751,1,2,"Wells, Miss. Joan",female,4.00,1,1,29103,23.0000,NaN,S,PW_Skills,2
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S,PW_Skills,2
788,789,1,3,"Dean, Master. Bertram Vere",male,1.00,1,2,C.A. 2315,20.5750,NaN,S,PW_Skills,3
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C,PW_Skills,1
824,825,0,3,"Panula, Master. Urho Abraham",male,2.00,4,1,3101295,39.6875,NaN,S,PW_Skills,5
827,828,1,2,"Mallet, Master. Andre",male,1.00,0,2,S.C./PARIS 2079,37.0042,NaN,C,PW_Skills,2
831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S,PW_Skills,2
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.00,4,2,347082,31.2750,NaN,S,PW_Skills,6
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.00,1,1,347742,11.1333,NaN,S,PW_Skills,2

In [284]:
df[df['Age'] <5]['Name']

7                Palsson, Master. Gosta Leonard
10              Sandstrom, Miss. Marguerite Rut
16                         Rice, Master. Eugene
43     Laroche, Miss. Simonne Marie Anne Andree
63                        Skoog, Master. Harald
78                Caldwell, Master. Alden Gates
119           Andersson, Miss. Ellis Anna Maria
164                Panula, Master. Eino Viljami
171                        Rice, Master. Arthur
172                Johnson, Miss. Eleanor Ileen
183                   Becker, Master. Richard F
184         Kink-Heilmann, Miss. Luise Gretchen
193                  Navratil, Master. Michel M
205                  Strom, Miss. Telma Matilda
261           Asplund, Master. Edvin Rojj Felix
297                Allison, Miss. Helen Loraine
305              Allison, Master. Hudson Trevor
340              Navratil, Master. Edmond Roger
348      Coutts, Master. William Loch "William"
374                  Palsson, Miss. Stina Viola
381                 Nakid, Miss. Maria ("Mary")
386             Goodwin, Master. Sidney Leonard
407              Richards, Master. William Rowe
445                   Dodge, Master. Washington
469               Baclini, Miss. Helene Barbara
479                    Hirvonen, Miss. Hildur E
530                    Quick, Miss. Phyllis May
618                 Becker, Miss. Marion Louise
642               Skoog, Miss. Margit Elizabeth
644                      Baclini, Miss. Eugenie
691                          Karun, Miss. Manca
750                           Wells, Miss. Joan
755                   Hamalainen, Master. Viljo
788                  Dean, Master. Bertram Vere
803             Thomas, Master. Assad Alexander
824                Panula, Master. Urho Abraham
827                       Mallet, Master. Andre
831             Richards, Master. George Sibley
850     Andersson, Master. Sigvard Harald Elias
869             Johnson, Master. Harold Theodor
Name: Name, dtype: object

In [285]:
df[df['Age'] <5].Name

7                Palsson, Master. Gosta Leonard
10              Sandstrom, Miss. Marguerite Rut
16                         Rice, Master. Eugene
43     Laroche, Miss. Simonne Marie Anne Andree
63                        Skoog, Master. Harald
78                Caldwell, Master. Alden Gates
119           Andersson, Miss. Ellis Anna Maria
164                Panula, Master. Eino Viljami
171                        Rice, Master. Arthur
172                Johnson, Miss. Eleanor Ileen
183                   Becker, Master. Richard F
184         Kink-Heilmann, Miss. Luise Gretchen
193                  Navratil, Master. Michel M
205                  Strom, Miss. Telma Matilda
261           Asplund, Master. Edvin Rojj Felix
297                Allison, Miss. Helen Loraine
305              Allison, Master. Hudson Trevor
340              Navratil, Master. Edmond Roger
348      Coutts, Master. William Loch "William"
374                  Palsson, Miss. Stina Viola
381                 Nakid, Miss. Maria ("Mary")
386             Goodwin, Master. Sidney Leonard
407              Richards, Master. William Rowe
445                   Dodge, Master. Washington
469               Baclini, Miss. Helene Barbara
479                    Hirvonen, Miss. Hildur E
530                    Quick, Miss. Phyllis May
618                 Becker, Miss. Marion Louise
642               Skoog, Miss. Margit Elizabeth
644                      Baclini, Miss. Eugenie
691                          Karun, Miss. Manca
750                           Wells, Miss. Joan
755                   Hamalainen, Master. Viljo
788                  Dean, Master. Bertram Vere
803             Thomas, Master. Assad Alexander
824                Panula, Master. Urho Abraham
827                       Mallet, Master. Andre
831             Richards, Master. George Sibley
850     Andersson, Master. Sigvard Harald Elias
869             Johnson, Master. Harold Theodor
Name: Name, dtype: object

In [286]:
#Q How many persons are less than 18 years
df[df['Age']<18]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,Family
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,PW_Skills,4
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,PW_Skills,1
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,PW_Skills,2
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,PW_Skills,0
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,PW_Skills,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.0,4,2,347082,31.2750,NaN,S,PW_Skills,6
852,853,0,3,"Boulos, Miss. Nourelain",female,9.0,1,1,2678,15.2458,NaN,C,PW_Skills,2
853,854,1,1,"Lines, Miss. Mary Conover",female,16.0,0,1,PC 17592,39.4000,D28,S,PW_Skills,1
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S,PW_Skills,2
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C,PW_Skills,0

In [287]:
len(df[df['Age']<18])

113

In [288]:
#Q How many passengers have paid less than average fare
df['Fare']

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: Fare, Length: 891, dtype: float64

In [289]:
df['Fare'].mean()

32.204207968574636

In [290]:
df[df['Fare'] < df['Fare'].mean()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,Family
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,PW_Skills,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,PW_Skills,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,PW_Skills,0
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,PW_Skills,0
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,PW_Skills,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,PW_Skills,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,PW_Skills,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,PW_Skills,3
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,PW_Skills,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,PW_Skills,0

In [291]:
len(df[df['Fare'] < df['Fare'].mean()])

680

In [292]:
#Q How many passengers have paid 0 fare
df[df["Fare"] == 0]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,Family
179,180,0,3,"Leonard, Mr. Lionel",male,36.0,0,0,LINE,0.0,NaN,S,PW_Skills,0
263,264,0,1,"Harrison, Mr. William",male,40.0,0,0,112059,0.0,B94,S,PW_Skills,0
271,272,1,3,"Tornquist, Mr. William Henry",male,25.0,0,0,LINE,0.0,NaN,S,PW_Skills,0
277,278,0,2,"Parkes, Mr. Francis ""Frank""",male,NaN,0,0,239853,0.0,NaN,S,PW_Skills,0
302,303,0,3,"Johnson, Mr. William Cahoone Jr",male,19.0,0,0,LINE,0.0,NaN,S,PW_Skills,0
413,414,0,2,"Cunningham, Mr. Alfred Fleming",male,NaN,0,0,239853,0.0,NaN,S,PW_Skills,0
466,467,0,2,"Campbell, Mr. William",male,NaN,0,0,239853,0.0,NaN,S,PW_Skills,0
481,482,0,2,"Frost, Mr. Anthony Wood ""Archie""",male,NaN,0,0,239854,0.0,NaN,S,PW_Skills,0
597,598,0,3,"Johnson, Mr. Alfred",male,49.0,0,0,LINE,0.0,NaN,S,PW_Skills,0
633,634,0,1,"Parr, Mr. William Henry Marsh",male,NaN,0,0,112052,0.0,NaN,S,PW_Skills,0
674,675,0,2,"Watson, Mr. Ennis Hastings",male,NaN,0,0,239856,0.0,NaN,S,PW_Skills,0
732,733,0,2,"Knight, Mr. Robert J",male,NaN,0,0,239855,0.0,NaN,S,PW_Skills,0
806,807,0,1,"Andrews, Mr. Thomas Jr",male,39.0,0,0,112050,0.0,A36,S,PW_Skills,0
815,816,0,1,"Fry, Mr. Richard",male,NaN,0,0,112058,0.0,B102,S,PW_Skills,0
822,823,0,1,"Reuchlin, Jonkheer. John George",male,38.0,0,0,19972,0.0,NaN,S,PW_Skills,0

In [293]:
len(df[df['Fare']==0])

15

In [294]:
# How many passengers are male

In [295]:
df[df['Sex'] == 'male']

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,Family
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,PW_Skills,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,PW_Skills,0
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,PW_Skills,0
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,PW_Skills,0
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,PW_Skills,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,PW_Skills,0
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,PW_Skills,0
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,PW_Skills,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,PW_Skills,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,PW_Skills,0

In [296]:
len(df[df['Sex']=='male'])

577

In [297]:
df['Sex'].value_counts(normalize=True)*100

Sex
male      64.758698
female    35.241302
Name: proportion, dtype: float64

In [298]:
#how many passengers are of class 1
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,Family
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,PW_Skills,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,PW_Skills,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,PW_Skills,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,PW_Skills,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,PW_Skills,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,PW_Skills,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,PW_Skills,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,PW_Skills,3
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,PW_Skills,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,PW_Skills,0

In [299]:
df[df['Pclass'] ==1]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,Family
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,PW_Skills,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,PW_Skills,1
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,PW_Skills,0
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,PW_Skills,0
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,PW_Skills,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,PW_Skills,2
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,PW_Skills,0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,PW_Skills,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,PW_Skills,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,PW_Skills,0

In [300]:
len(df[df['Pclass']==1])

216

In [301]:
#how many passengers survived
df[df['Survived']== True]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,Family
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,PW_Skills,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,PW_Skills,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,PW_Skills,1
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,PW_Skills,2
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,PW_Skills,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C,PW_Skills,0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,PW_Skills,1
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,PW_Skills,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,PW_Skills,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,PW_Skills,0

In [302]:
df[df.Survived == 1]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,Family
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,PW_Skills,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,PW_Skills,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,PW_Skills,1
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,PW_Skills,2
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,PW_Skills,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C,PW_Skills,0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,PW_Skills,1
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,PW_Skills,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,PW_Skills,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,PW_Skills,0

In [303]:
len(df[df.Survived == 1])

342

In [304]:
#Q How many Females paid more than avg fare?
df['Fare'].mean()

32.204207968574636

My way

In [305]:
df[df['Fare'] > 32].Sex == 'female'

1       True
3       True
6      False
23     False
27     False
       ...
856     True
863     True
867    False
871     True
879     True
Name: Sex, Length: 211, dtype: bool

In [306]:
df[df["Sex"]=='female'].Fare > 32

1       True
2      False
3       True
8      False
9      False
       ...
880    False
882    False
885    False
887    False
888    False
Name: Fare, Length: 314, dtype: bool

Correct way

In [307]:
df['Sex'] == 'female'

0      False
1       True
2       True
3       True
4      False
       ...
886    False
887     True
888     True
889    False
890    False
Name: Sex, Length: 891, dtype: bool

In [308]:
df["Fare"].mean()

32.204207968574636

In [309]:
df[(df["Sex"]=='female')&(df['Fare']>df['Fare'].mean())]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,Family
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,PW_Skills,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,PW_Skills,1
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C,PW_Skills,1
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C,PW_Skills,3
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C,PW_Skills,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
853,854,1,1,"Lines, Miss. Mary Conover",female,16.0,0,1,PC 17592,39.4000,D28,S,PW_Skills,1
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S,PW_Skills,2
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,PW_Skills,10
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,PW_Skills,2
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,PW_Skills,1

In [310]:
len(df[(df["Sex"]=='female')&(df['Fare']>df['Fare'].mean())])

104

In [311]:
df[(df["Sex"]=='male')&(df['Fare']>df['Fare'].mean())]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,Family
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,PW_Skills,0
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,PW_Skills,0
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,PW_Skills,5
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,NaN,C,PW_Skills,1
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S,PW_Skills,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
827,828,1,2,"Mallet, Master. Andre",male,1.0,0,2,S.C./PARIS 2079,37.0042,NaN,C,PW_Skills,2
838,839,1,3,"Chip, Mr. Chang",male,32.0,0,0,1601,56.4958,NaN,S,PW_Skills,0
846,847,0,3,"Sage, Mr. Douglas Bullen",male,NaN,8,2,CA. 2343,69.5500,NaN,S,PW_Skills,10
848,849,0,2,"Harper, Rev. John",male,28.0,0,1,248727,33.0000,NaN,S,PW_Skills,1
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,PW_Skills,0

In [312]:
len(df[(df["Sex"]=='male')&(df['Fare']>df['Fare'].mean())])

107

In [313]:
import numpy as np
np.mean(df["Fare"])

32.204207968574636

In [314]:
df.Fare.mean()

32.204207968574636

In [315]:
max(df['Fare'])

512.3292

In [316]:
min(df['Fare'])

0.0

In [317]:
#People who paid maximum fare
df[df['Fare']==max(df['Fare'])].Name

258                      Ward, Miss. Anna
679    Cardeza, Mr. Thomas Drake Martinez
737                Lesurer, Mr. Gustave J
Name: Name, dtype: object

In [318]:
#Q what is average age of the people who paid maximum fare

In [319]:
df['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [320]:
df[df['Fare'] == max(df['Fare'])]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,Family
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C,PW_Skills,0
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C,PW_Skills,1
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C,PW_Skills,0

In [321]:
df[df['Fare'] == max(df['Fare'])].Age.mean()

35.333333333333336

# **PANDAS ADVANCE 2**

In [322]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [323]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [324]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [325]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [326]:
df.shape

(891, 12)

In [327]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [328]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [329]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [330]:
#how to access the rows
df[0:100]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.0,0,1,PC 17759,63.3583,D10 D12,C
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.0,0,1,231919,23.0000,NaN,S
99,100,0,2,"Kantor, Mr. Sinai",male,34.0,1,0,244367,26.0000,NaN,S

In [331]:
df[0:100:5]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
50,51,0,3,"Panula, Master. Juha Niilo",male,7.0,4,1,3101295,39.6875,NaN,S
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.0,0,0,2669,7.2292,NaN,C
65,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.0,0,0,C.A. 33111,10.5000,NaN,S
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
80,81,0,3,"Waelens, Mr. Achille",male,22.0,0,0,345767,9.0000,NaN,S
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.0,3,0,3101278,15.8500,NaN,S
90,91,0,3,"Christmann, Mr. Emil",male,29.0,0,0,343276,8.0500,NaN,S
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S

In [332]:
#other ways to access the rows and columns in a dataframe >> implicit/integer/internal indexing, explicit or named indexing
#iloc >>> iloc means implicit/integer/internal indexing >> all 3 of them starts with i -> iloc
df.iloc[0:100]  #

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.0,0,1,PC 17759,63.3583,D10 D12,C
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.0,0,1,231919,23.0000,NaN,S
99,100,0,2,"Kantor, Mr. Sinai",male,34.0,1,0,244367,26.0000,NaN,S

In [333]:
df.loc[0:3]  #it accesses through name not by index

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

In [334]:
df.iloc[0:2, ["Name","Sex"]]  #it will throw an error
#iloc Requries numerical indexers

IndexError: .iloc requires numeric indexers, got ['Name' 'Sex']

In [335]:
df.loc[0:3, ["Name","Sex"]]

                                                Name     Sex
0                            Braund, Mr. Owen Harris    male
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female
2                             Heikkinen, Miss. Laina  female
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female

In [336]:
df.iloc[0:3, [2,3]]

   Pclass                                               Name
0       3                            Braund, Mr. Owen Harris
1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2       3                             Heikkinen, Miss. Laina

In [337]:
df["Name"][2:5]

2                          Heikkinen, Miss. Laina
3    Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                        Allen, Mr. William Henry
Name: Name, dtype: object

In [340]:
list(df['Name'][2:5])

TypeError: 'list' object is not callable

In [ ]:
s = pd.Series(list(df["Name"][2:5]), index = ['a','b','c'])
s #converting a list into a series

In [ ]:
a = pd.Series(list(df["Name"][5:8]), index = [2,3,4])
a

In [ ]:
#series with different indexes and dataframe can not be concatenated using "+"
s + a

In [ ]:
#if you keep indexes same then for series concatenation can happen
s1 = pd.Series(list(df['Name'][5:8]), index =["a","b","c"])
s1

In [ ]:
s

In [ ]:
s+s1

In [ ]:
df.drop('PassengerId') #it will throw an error >> as it will by default consider it as a row

In [ ]:
df.drop("PassengerId", axis=1)

In [ ]:
df #again it is there

In [ ]:
#if you want to change the orignal dataframe
df.drop("PassengerId", axis = 1, inplace = True)

In [ ]:
df #axis=0 means drop from rows and axis=1 means drop from columns, inplace=True means modify the original dataframe